body {
  background-image: url("../../../public/rendezview-bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .leftContainer {
    flex: 1;
  }
  
  .rightContainer {
    width: 400px;
    position: sticky;
    top: 60px;
  }  
