@keyframes textShine {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #385170;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-title {
    font-size: 50px;
    color: white;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(90deg, white 0%, #9fd3c7 50%, white 100%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation: textShine 20s linear infinite;
  }
  
  /* Rest of your CSS */
  